<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="membership" type="by.gladyshev.gym.entity.Membership"*/-->
<a th:text="${membership.getId()}">VALUE</a>
<br>
<a th:text="'relevant from '+ ${membership.getFromDateFormat()}+' to '+${membership.getToDateFormat()}">VALUE</a>
<br>
<a th:text="${membership.getType().name()}">VALUE</a>
<br>
<div th:switch="${membership.getType().name()}">
    <div th:case="'LIMITED'">
        <a th:text="${membership.getVisitNumber()}"></a>
    </div>
    <div th:case="'UNLIMITED'">
        <a>INFINITY</a>
    </div>
</div>
<br>
<form th:method="POST" th:action="@{/membership/visit/{id}(id=${membership.getId()})}">
    <input type="submit" value="VISIT">
</form>
</body>
</html>