<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="member" type="by.gladyshev.gym.entity.Member"*/-->
<!--/*@thymesVar id="MemberRole" type="by.gladyshev.gym.entity.MemberRole"*/-->
<div th:if="${member.getRole()}==${T(by.gladyshev.gym.entity.MemberRole).TRAINER} or
        ${member.getRole()}==${T(by.gladyshev.gym.entity.MemberRole).ADMIN}">
    <a th:text="${member.getName()} +' '+ ${member.getRole()} ">VALUE</a>
    <div th:each="membership:${member.getMemberships()}">
        <a th:href="@{/membership/{id}(id=${membership.getId()})}" th:if="${membership.isRelevant()}"
           th:text="${membership.getId()}+' is relevant'"></a>
        <a th:href="@{/membership/{id}(id=${membership.getId()})}" th:unless="${membership.isRelevant()}"
           th:text="${membership.getId()}+' isn\'t relevant'"></a>
    </div>
</div>
<div th:unless="${member.getRole()}==${T(by.gladyshev.gym.entity.MemberRole).TRAINER} or
        ${member.getRole()}==${T(by.gladyshev.gym.entity.MemberRole).ADMIN}">
    You are not allowed on this page
</div>
</body>
</html>