table {width: 100%; border-collapse: collapse; margin-top: 20px}
table th{background-color: #01ab73}
table thead tr {color: #ffffff; font-weight: bold; background: #00bf80;}
table thead tr td {border: 1px solid #01ab73;}
table tbody tr td {border: 1px solid #e8e9eb;}
table tbody tr {background: antiquewhite}
table tbody tr:hover {background: #ebffe8;}
a { text-decoration: none}